* {
    margin: 0;
    padding: 0;
}

.all-add{
    max-width: 500px;
    margin: auto;;
}

body {
    font-family: 'Josefin Sans', sans-serif,'Roboto Condensed', Helvetica, sans-serif;
    color: #777;
}

.wrapper{
    width: 90%;
    max-width: 760px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: border-box;
    padding: 0 0 20px;
    border: 1px solid lightgray;
}

.changeBg {
    background-color: yellow;
}

.changeFt {
    font-style: italic;
    font-size: 40px;
}

input {
    color: #777;
    outline: none;
    border: 1px solid #777;
}

input:focus {
    border: 1px solid green;
}

header {
    text-align: center;
    background: #efefef;
}

header h2 {
    padding: 40px 0 20px 0;
    color: #555;
}

header #search-note input {
    padding: 5px 2px;
    width: 200px;
    border-radius: 2px;
    margin: 10px 0 40px 0;
}


.note-list ul {
    list-style: none;
    padding: 40px;
}

.note-list ul li {
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 0.1px solid #ccc;
    border-left: 5px solid #efefef;
}

.note-list ul li p:nth-child(2) {
    text-align: right;
}

.note-list ul li p i {
    cursor: pointer;
    margin-left: 5px;
}

.note-list ul li p i.fa-edit {
    color: #228b22;
}

.note-list ul li p i.fa-times {
    color: #dc143c;
}

.note-list ul li input {
    display: none;
    padding: 5px 0;
    width: 70%;
    margin: 5px auto 0 auto;
}

#add-notes{
    padding: 60px 0;
}

#hide-list{
    margin: 20px;
}

#hide-list label{
    padding: 5px 10px;
    margin: 10px;
    border-bottom: 1px solid #777;
    user-select: none;
}

#hide-list label:hover{
    background: #efefef;
}

#hide-list input[type='checkbox']{
    display: none;
}

form#add{
    margin-top: 10px;
    text-align: center;
}

form#add input{
    border-radius: 2px;
}

form#add input[type='text']{
    padding: 5px 0 5px 2px;
    width: 250px;
}

form#add input[type='submit'] {
    padding: 5px 0;
    width: 70px;
    background: #e66465;
    color: #fff;
}

form#add input[type='submit']:hover {
    background: #AC87BB;
}




li{
    list-style: none;
}
 
#search-note{
    padding-bottom: 10px;
}

#search-note input{
    border-radius: 2px;
}

#search-note input[type='text']{
    padding: 2px 0 2px 2px;
    width: 156px;
    font-size: 10px;
}


/*second add*/

.titleSecond {
    text-align: center;
    padding-bottom: 5%;
}

#add-notes2 {
    background: #F44336;
    border-top: 20px solid #D32F2F;
    border-bottom: 20px solid #D32F2F;
    color: #fff;
    padding: 50px 0;
    width: 100%;
    text-align: center;
    
    
}

.add-part input[type='text'] {
    padding: 5px 0 5px 2px;
    width: 250px;
}
.add-part input {
    border-radius: 2px;
}

input {
    color: #777;
    outline: none;
    border: 1px solid #777;
}

.add-part input[type='submit'] {
    padding: 5px 0;
    width: 70px;
    background: #e66465;
    color: #fff;
}

.add-part input[type='submit']:hover {
    border: 1px solid white;
}

/* - Tareas - */
.tasks .lista {
    list-style: none;
    padding-bottom: 5%;
}

.tasks .lista li {
	border-bottom: 1px solid #B6B6B6;
}

.tasks .lista li p {
	color: #212121;
	display: block;
	padding: 20px 16px;
	text-decoration: none;
}

.tasks .lista li p:hover {
	text-decoration: line-through;
}


/*Third add*/


#add-notes3{
    max-width: 400px;
    text-align: center;
}
.add-part3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

#add-btn3{
    line-height: 60px;
    width: 60px;
    height: 60px;
    background-color: #F66907;
    color: #fff;
    border-radius: 100px;
    text-align: center;
    font-size: 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 323px;
}

.add-part3 input[type='text'] {
    padding: 5px 0 5px 2px;
    width: 250px;
}
.add-part3 input {
    border-radius: 2px;
}



#add-btn3:hover {
    border: 1px solid white;
    background-color: #dc143c;
}

input.lista-check  {
    margin-top: 10%;
    margin-bottom: 10%;
}

.list-click{
    text-align: start;
    padding-left: 5%;
}



